@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  align-self: stretch;
  flex-grow: 1;
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
}
